.userInfoBlock > img{
    width: 3vw;
}

.userInfoBlock > img:hover{
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid red;
}

.userInfoBlock>p{
    margin: 0;
    color: white;
}

.userSettingsBlock{
    position: absolute;
    background-color: white;
    width: 13%;

    margin-top: 1%;
    right: 1%;

    border-radius: 15px;
    z-index: 5;
    text-align: left;
}

.userSettingsBlock > div {
    padding: 4% 0 3% 10%;
}

.userSettingsBlock > div:hover{
    cursor: pointer;
    background-color: #083c70;
    color: white;
    font-weight: bold;
}

.viewBlock{
    margin-top: 3%;
    font-size: 12px;
}

.topSettingBlock{
    border-radius: 15px 15px 0 0;
}

.bottomSettingBlock{
    border-radius: 0 0 15px 15px;
}
