.carouselBlock {
    position: absolute;
    width: 15%;
    top: 43%;
    left: 75%;
    background-color: white;
    color: black;

}

.carouselTitle {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 8%;
    text-align: center;
}

.carousel-item > div {
    width: 100%;
}

.carousel-item > div div {
    font-size: 10px;
}

.carousel-item > div:hover {
    transform: scale(0.9);
}