.movieInfoImage{
    position: relative;
}
.movieInfoImage:after{
    content: '';
    width: 100vw;
    height: 116.5vh;
    /*height: 160vh;*/
    position: absolute;
    top: 0; left: 0;
    background: linear-gradient(to left, transparent 0%,  rgba(0,0,0,0.9) 100%);
}

.movieInfoImage > img{
    /*width: 98.7vw;*/
    /*height: 100vh;*/
    width: 100%;
    position: absolute;
    top: 0; left: 0;
}

.movieInfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 116.5vh;

    position: relative;
    color: white;

    box-sizing: border-box;
    margin-left: 5%;
    padding-bottom: 5%;
}

.movieInfoBlock div,
.movieInfoBlock p{
    text-align: left;
}

.movieInfoBlock  h2 {
    font-size: 50px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 5%;
}


.companyImagesBlock {
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.companyImagesBlock > img {
    display: block;
    width: 5%;
    height: 1%;
    margin-right: 2%;
}

.movieInfoBlock > p {
    margin-top: 2%;
    line-height: 21px;
    width: 40%;
    font-size: 20px;
}

.movieInfoBlock  span {
    margin-right: 1%;
}