.movieList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    box-sizing: border-box;
    padding: 2%;
    background-color: #61dafb;
}

.buttonPrev{
    padding: 0;
    border: none;
    font: inherit;
    color: black;
    background-color: white;
}
