.headerBlock {
    display: flex;
    justify-content: space-between;

    background-color: #083844;

    box-sizing: border-box;
    padding: 2% 5% 1%;
}

.ownTitleBlock > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 300ms;
}

.searchBlock > button {
    padding: 0;
    border: none;
    font: inherit;
    color: white;
    background-color: transparent;
    transition: 300ms;
}

.ownTitleBlock > a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.searchBlock img {
    width: 20px;
}

.searchBlock > button {
    position: relative;
    right: 11%;
    bottom: 5%;
}

.rightHeader {
    display: flex;
}

.sortBlock {
    display: flex;
}

.sortBlock > div {
    margin-right: 10px;
}


