.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body,
.white-content .header_headerBlock__z6EWC,
.white-content .paginationMovie_paginationBlock__UYsyd,
.white-content .header_genresBlock__AETiC div,
.white-content .movieInfo_MoviesListCardBlock__1as5p,
.white-content .movieInfo_titleMovie__vjqlW,
.white-content .carouselBlock,
.white-content .dropdown div{
  background: black;
  color: white;
}

.white-content .movieList_movieList__A9msP {
  background: #363131;
}

.white-content .userInfo_userSettingsBlock__2SwOF{
  background: #110e0e;
}

.white-content .dropdown div a{
  color: white;
}


